USE [master]
GO
/****** Object:  Database [quanlybanhang]    Script Date: 7/28/2026 1:43:24 PM ******/
CREATE DATABASE [quanlybanhang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlybanhang', FILENAME = N'D:\SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\quanlybanhang.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlybanhang_log', FILENAME = N'D:\SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\quanlybanhang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlybanhang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlybanhang]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaGH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietGioHang] PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapHang](
	[MaNH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaSP] [int] NULL,
	[MaDH] [int] NOT NULL,
	[SoSao] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDG] [date] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[HoTenNguoiNhan] [nvarchar](100) NULL,
	[SDTNguoiNhan] [varchar](20) NULL,
	[NgayDat] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[DiaChiGiaoHang] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaPTTT] [int] NULL,
	[TrangThaiThanhToan] [nvarchar](50) NOT NULL,
	[MaGiaoDịchNgoai] [nvarchar](100) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayCapNhat] [date] NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
	[CartToken] [varchar](100) NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangKhachHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangKhachHang](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[DiemToiThieu] [int] NOT NULL,
	[PhanTramUuDai] [int] NOT NULL,
 CONSTRAINT [PK_HangKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MaTK] [int] NULL,
	[DiemTichLuy] [int] NOT NULL,
	[MaHang] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](100) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[PhanTramGiam] [int] NULL,
	[DieuKienApDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[MaSoNhanVien] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MaTK] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapHang]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHang](
	[MaNH] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaNCC] [int] NULL,
	[NgayNhap] [date] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhapHang] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[MaPTTT] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuongThuc] [nvarchar](100) NOT NULL,
	[MaCode] [varchar](50) NOT NULL,
	[HinhAnh] [varchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_PhuongThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Gia] [decimal](18, 0) NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MaLoai] [int] NULL,
	[MaNCC] [int] NULL,
	[MaTH] [int] NULL,
	[CanNang] [int] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamYeuThich]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamYeuThich](
	[MaTK] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayThem] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SanPhamYeuThich] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sp_km]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sp_km](
	[MaSP] [int] NOT NULL,
	[MaKM] [int] NOT NULL,
 CONSTRAINT [PK_sp_km] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[Email] [varchar](100) NULL,
	[VaiTro] [nvarchar](50) NULL,
	[TrangThai] [bit] NOT NULL,
	[Avatar] [varchar](255) NULL,
	[ResetToken] [nvarchar](10) NULL,
	[ResetTokenExpiry] [datetime2](7) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 7/28/2026 1:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaTH] [int] IDENTITY(1,1) NOT NULL,
	[TenTH] [nvarchar](100) NOT NULL,
	[QuocGia] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThuongHieu] PRIMARY KEY CLUSTERED 
(
	[MaTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260612065717_InitialCreateStationery', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260614173317_UpdateCartTokenLogic', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260615152538_AddAvatarToTaiKhoan', N'8.0.11')
GO
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 3, CAST(5000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 2, 2, CAST(12000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 10, 3, CAST(8000 AS Decimal(18, 0)))
GO
INSERT [dbo].[ChiTietGioHang] ([MaGH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 5, CAST(5000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietGioHang] ([MaGH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 10, 3, CAST(8000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietGioHang] ([MaGH], [MaSP], [SoLuong], [DonGia]) VALUES (2, 2, 1, CAST(12000 AS Decimal(18, 0)))
GO
INSERT [dbo].[ChiTietNhapHang] ([MaNH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 200, CAST(4000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietNhapHang] ([MaNH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 10, 200, CAST(6000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietNhapHang] ([MaNH], [MaSP], [SoLuong], [DonGia]) VALUES (2, 2, 100, CAST(9500 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDG], [MaKH], [MaSP], [MaDH], [SoSao], [NoiDung], [NgayDG]) VALUES (1, 1, 1, 1, 5, N'Bút bi viết rất trơn, mực ra đều, dùng được lâu. Sẽ mua lại!', CAST(N'2026-05-13' AS Date))
INSERT [dbo].[DanhGia] ([MaDG], [MaKH], [MaSP], [MaDH], [SoSao], [NoiDung], [NgayDG]) VALUES (2, 2, 2, 2, 4, N'Vở giấy trắng sáng, dòng kẻ rõ ràng, bìa cứng chắc chắn.', CAST(N'2026-05-18' AS Date))
INSERT [dbo].[DanhGia] ([MaDG], [MaKH], [MaSP], [MaDH], [SoSao], [NoiDung], [NgayDG]) VALUES (3, 3, 4, 3, 5, N'Máy tính Casio chính hãng, tính nhanh, màn hình rõ. Học thi rất ổn!', CAST(N'2026-05-24' AS Date))
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [MaKH], [HoTenNguoiNhan], [SDTNguoiNhan], [NgayDat], [TrangThai], [TongTien], [DiaChiGiaoHang], [GhiChu], [MaPTTT], [TrangThaiThanhToan], [MaGiaoDịchNgoai]) VALUES (1, 1, N'Nguyễn Thị Lan', N'0901234561', CAST(N'2026-05-10' AS Date), N'Đã giao', CAST(73000 AS Decimal(18, 0)), N'12 Lê Lợi, Q.1, TP.HCM', NULL, 4, N'Đã thanh toán', NULL)
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [HoTenNguoiNhan], [SDTNguoiNhan], [NgayDat], [TrangThai], [TongTien], [DiaChiGiaoHang], [GhiChu], [MaPTTT], [TrangThaiThanhToan], [MaGiaoDịchNgoai]) VALUES (2, 2, N'Trần Văn Minh', N'0901234562', CAST(N'2026-05-15' AS Date), N'Đã giao', CAST(12000 AS Decimal(18, 0)), N'45 Trần Hưng Đạo, Q.5, TP.HCM', NULL, 1, N'Đã thanh toán', NULL)
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [HoTenNguoiNhan], [SDTNguoiNhan], [NgayDat], [TrangThai], [TongTien], [DiaChiGiaoHang], [GhiChu], [MaPTTT], [TrangThaiThanhToan], [MaGiaoDịchNgoai]) VALUES (3, 3, N'Lê Thị Hoa', N'0901234563', CAST(N'2026-05-20' AS Date), N'Đã giao', CAST(455000 AS Decimal(18, 0)), N'78 Nguyễn Huệ, Q.1, TP.HCM', N'Giao giờ hành chính', 3, N'Đã thanh toán', NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaKH], [NgayCapNhat], [TongTien], [CartToken]) VALUES (1, 1, CAST(N'2026-06-20' AS Date), CAST(73000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[GioHang] ([MaGH], [MaKH], [NgayCapNhat], [TongTien], [CartToken]) VALUES (2, 2, CAST(N'2026-06-21' AS Date), CAST(12000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[GioHang] ([MaGH], [MaKH], [NgayCapNhat], [TongTien], [CartToken]) VALUES (3, 3, CAST(N'2026-06-22' AS Date), CAST(455000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HangKhachHang] ON 

INSERT [dbo].[HangKhachHang] ([MaHang], [TenHang], [DiemToiThieu], [PhanTramUuDai]) VALUES (1, N'Đồng', 0, 0)
INSERT [dbo].[HangKhachHang] ([MaHang], [TenHang], [DiemToiThieu], [PhanTramUuDai]) VALUES (2, N'Bạc', 100, 5)
INSERT [dbo].[HangKhachHang] ([MaHang], [TenHang], [DiemToiThieu], [PhanTramUuDai]) VALUES (3, N'Vàng', 1000, 10)
SET IDENTITY_INSERT [dbo].[HangKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [MaTK], [DiemTichLuy], [MaHang]) VALUES (1, N'Nguyễn Thị Lan', N'0901234561', N'12 Lê Lợi, Q.1, TP.HCM', 5, 850, 2)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [MaTK], [DiemTichLuy], [MaHang]) VALUES (2, N'Trần Văn Minh', N'0901234562', N'45 Trần Hưng Đạo, Q.5, TP.HCM', 6, 120, 2)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [MaTK], [DiemTichLuy], [MaHang]) VALUES (3, N'Lê Thị Hoa', N'0901234563', N'78 Nguyễn Huệ, Q.1, TP.HCM', 7, 3200, 4)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [PhanTramGiam], [DieuKienApDung]) VALUES (1, N'Khai giảng năm học 2025-2026', CAST(N'2025-08-01' AS Date), CAST(N'2025-09-15' AS Date), 20, N'Tất cả sản phẩm, áp dụng đầu năm học')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [PhanTramGiam], [DieuKienApDung]) VALUES (2, N'Sale tết Nguyên Đán 2026', CAST(N'2026-01-20' AS Date), CAST(N'2026-02-10' AS Date), 15, N'Áp dụng cho đơn từ 100.000đ')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [PhanTramGiam], [DieuKienApDung]) VALUES (3, N'Ưu đãi mùa thi học kỳ 1', CAST(N'2025-12-01' AS Date), CAST(N'2025-12-31' AS Date), 10, N'Áp dụng cho máy tính, bút viết')
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSP] ON 

INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoai], [MoTa]) VALUES (1, N'Bút viết', N'Bút bi, bút gel, bút mực, bút máy các loại')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoai], [MoTa]) VALUES (2, N'Vở & Sổ', N'Vở học sinh, sổ tay, tập học sinh')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoai], [MoTa]) VALUES (3, N'Dụng cụ vẽ & Màu', N'Màu sáp, màu nước, bút chì màu, cọ vẽ')
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (1, N'Công ty CP Thiên Long', N'126 Nguyễn Thị Thập, Q.7, TP.HCM', N'02838500007', N'kinhdoanh@thienlonggroup.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (2, N'Công ty CP Hồng Hà', N'25 Lý Thường Kiệt, Hoàn Kiếm, Hà Nội', N'02439362699', N'info@honghavietnam.vn')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (3, N'Công ty TNHH Stabilo Việt Nam', N'Lô E2, KCN Biên Hòa 2, Đồng Nai', N'02511834600', N'stab.vietnam@stabilo.com')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [MaSoNhanVien], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [MaTK]) VALUES (1, N'NV00001', N'Trần Thị Bích', N'Nữ', CAST(N'1995-03-15' AS Date), N'0911111101', N'15 Hai Bà Trưng, Q.1, TP.HCM', 1)
INSERT [dbo].[NhanVien] ([MaNV], [MaSoNhanVien], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [MaTK]) VALUES (2, N'NV00002', N'Lê Quang Huy', N'Nam', CAST(N'1993-07-22' AS Date), N'0911111102', N'42 Phạm Ngũ Lão, Q.1, TP.HCM', 2)
INSERT [dbo].[NhanVien] ([MaNV], [MaSoNhanVien], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [MaTK]) VALUES (3, N'NV00003', N'Phạm Thị Ngọc', N'Nữ', CAST(N'1997-11-08' AS Date), NULL, N'88 CMT8, Q.3, TP.HCM', 3)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhapHang] ON 

INSERT [dbo].[NhapHang] ([MaNH], [MaNV], [MaNCC], [NgayNhap], [TongTien], [TrangThai]) VALUES (1, 1, 1, CAST(N'2026-04-01' AS Date), CAST(5000000 AS Decimal(18, 0)), N'Đã nhập')
INSERT [dbo].[NhapHang] ([MaNH], [MaNV], [MaNCC], [NgayNhap], [TongTien], [TrangThai]) VALUES (2, 2, 2, CAST(N'2026-04-05' AS Date), CAST(3600000 AS Decimal(18, 0)), N'Đã nhập')
INSERT [dbo].[NhapHang] ([MaNH], [MaNV], [MaNCC], [NgayNhap], [TongTien], [TrangThai]) VALUES (3, 1, 3, CAST(N'2026-04-10' AS Date), CAST(2750000 AS Decimal(18, 0)), N'Đã nhập')
SET IDENTITY_INSERT [dbo].[NhapHang] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] ON 

INSERT [dbo].[PhuongThucThanhToan] ([MaPTTT], [TenPhuongThuc], [MaCode], [HinhAnh], [GhiChu], [TrangThai]) VALUES (1, N'Tiền mặt', N'CASH', NULL, N'Thanh toán khi nhận hàng (COD)', 1)
INSERT [dbo].[PhuongThucThanhToan] ([MaPTTT], [TenPhuongThuc], [MaCode], [HinhAnh], [GhiChu], [TrangThai]) VALUES (2, N'Chuyển khoản ngân hàng', N'BANK', NULL, N'Chuyển khoản qua tài khoản ngân hàng', 1)
INSERT [dbo].[PhuongThucThanhToan] ([MaPTTT], [TenPhuongThuc], [MaCode], [HinhAnh], [GhiChu], [TrangThai]) VALUES (3, N'VNPay', N'VNPAY', NULL, N'Thanh toán qua ví điện tử VNPay', 1)
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [Gia], [SoLuongTon], [HinhAnh], [MaLoai], [MaNCC], [MaTH], [CanNang]) VALUES (1, N'Bút bi Thiên Long TL-027', N'Bút bi ngòi 0.7mm, mực xanh/đen/đỏ, viết trơn tru, bền màu', CAST(6000 AS Decimal(18, 0)), 447, N'https://res.cloudinary.com/dqwwor2vx/image/upload/v1782367887/LV_sanphams/tiokt5quvrcwqodtazjc.jpg', 1, 1, 1, 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [Gia], [SoLuongTon], [HinhAnh], [MaLoai], [MaNCC], [MaTH], [CanNang]) VALUES (2, N'Vở ô ly Hồng Hà 96 trang', N'Vở kẻ ô ly 5mm, giấy trắng sáng, bìa cứng đẹp, 96 trang', CAST(12000 AS Decimal(18, 0)), 268, N'https://res.cloudinary.com/dqwwor2vx/image/upload/v1782367921/LV_sanphams/z2xznpxysmwodzujlbjc.webp', 2, 2, 2, 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [Gia], [SoLuongTon], [HinhAnh], [MaLoai], [MaNCC], [MaTH], [CanNang]) VALUES (3, N'Bộ bút highlight Stabilo Boss', N'Hộp 6 màu highlight không thấm ngược, màu tươi sáng, dùng cho sách giáo khoa', CAST(55000 AS Decimal(18, 0)), 136, N'https://res.cloudinary.com/dqwwor2vx/image/upload/v1782367981/LV_sanphams/nxdf6p6zhmeg224w4vn2.jpg', 1, 3, 3, 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[SanPhamYeuThich] ([MaTK], [MaSP], [NgayThem]) VALUES (11, 3, CAST(N'2026-07-24T02:26:31.2098199' AS DateTime2))
INSERT [dbo].[SanPhamYeuThich] ([MaTK], [MaSP], [NgayThem]) VALUES (11, 6, CAST(N'2026-07-24T02:26:33.4638478' AS DateTime2))
GO
INSERT [dbo].[sp_km] ([MaSP], [MaKM]) VALUES (1, 1)
INSERT [dbo].[sp_km] ([MaSP], [MaKM]) VALUES (2, 1)
INSERT [dbo].[sp_km] ([MaSP], [MaKM]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Email], [VaiTro], [TrangThai], [Avatar], [ResetToken], [ResetTokenExpiry]) VALUES (1, N'admin', N'$2a$11$/uM0ATBN/cqUzc1uevkv8e/XjGBerRihmX1WUj0GnrfvQ0N6gFxXm', N'admin@gmail.com', N'Admin', 1, NULL, NULL, NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Email], [VaiTro], [TrangThai], [Avatar], [ResetToken], [ResetTokenExpiry]) VALUES (2, N'nv001', N'$2a$11$/uM0ATBN/cqUzc1uevkv8e/XjGBerRihmX1WUj0GnrfvQ0N6gFxXm', N'nv001@gmail.com', N'NhanVien', 1, NULL, NULL, NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Email], [VaiTro], [TrangThai], [Avatar], [ResetToken], [ResetTokenExpiry]) VALUES (3, N'nv002', N'$2a$11$/uM0ATBN/cqUzc1uevkv8e/XjGBerRihmX1WUj0GnrfvQ0N6gFxXm', N'nv002@gmail.com', N'NhanVien', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH], [QuocGia], [MoTa]) VALUES (1, N'Thiên Long', N'Việt Nam', N'Thương hiệu bút và dụng cụ học tập hàng đầu Việt Nam')
INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH], [QuocGia], [MoTa]) VALUES (2, N'Hồng Hà', N'Việt Nam', N'Nhà sản xuất vở, giấy và văn phòng phẩm nổi tiếng')
INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH], [QuocGia], [MoTa]) VALUES (3, N'Stabilo', N'Đức', N'Bút highlight và bút màu chất lượng châu Âu')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
/****** Object:  Index [IX_ChiTietDonHang_MaSP]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHang_MaSP] ON [dbo].[ChiTietDonHang]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGioHang_MaSP]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGioHang_MaSP] ON [dbo].[ChiTietGioHang]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietNhapHang_MaSP]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietNhapHang_MaSP] ON [dbo].[ChiTietNhapHang]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGia_MaDH]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGia_MaDH] ON [dbo].[DanhGia]
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGia_MaKH]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGia_MaKH] ON [dbo].[DanhGia]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGia_MaSP]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_DanhGia_MaSP] ON [dbo].[DanhGia]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHang_MaKH]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHang_MaKH] ON [dbo].[DonHang]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHang_MaPTTT]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHang_MaPTTT] ON [dbo].[DonHang]
(
	[MaPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GioHang_MaKH]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_GioHang_MaKH] ON [dbo].[GioHang]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhachHang_MaHang]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_KhachHang_MaHang] ON [dbo].[KhachHang]
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhachHang_MaTK]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachHang_MaTK] ON [dbo].[KhachHang]
(
	[MaTK] ASC
)
WHERE ([MaTK] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhanVien_MaSoNhanVien]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NhanVien_MaSoNhanVien] ON [dbo].[NhanVien]
(
	[MaSoNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien_MaTK]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NhanVien_MaTK] ON [dbo].[NhanVien]
(
	[MaTK] ASC
)
WHERE ([MaTK] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhapHang_MaNCC]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhapHang_MaNCC] ON [dbo].[NhapHang]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhapHang_MaNV]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhapHang_MaNV] ON [dbo].[NhapHang]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhuongThucThanhToan_MaCode]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PhuongThucThanhToan_MaCode] ON [dbo].[PhuongThucThanhToan]
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_MaLoai]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_MaLoai] ON [dbo].[SanPham]
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_MaNCC]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_MaNCC] ON [dbo].[SanPham]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_MaTH]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_MaTH] ON [dbo].[SanPham]
(
	[MaTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamYeuThich_MaSP]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamYeuThich_MaSP] ON [dbo].[SanPhamYeuThich]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sp_km_MaKM]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_sp_km_MaKM] ON [dbo].[sp_km]
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaiKhoan_TenDangNhap]    Script Date: 7/28/2026 1:43:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TaiKhoan_TenDangNhap] ON [dbo].[TaiKhoan]
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[HangKhachHang] ADD  DEFAULT ((0)) FOR [DiemToiThieu]
GO
ALTER TABLE [dbo].[HangKhachHang] ADD  DEFAULT ((0)) FOR [PhanTramUuDai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[PhuongThucThanhToan] ADD  DEFAULT (CONVERT([bit],(1))) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [CanNang]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (CONVERT([bit],(1))) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang_MaDH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang_MaDH]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham_MaSP]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_GioHang_MaGH] FOREIGN KEY([MaGH])
REFERENCES [dbo].[GioHang] ([MaGH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_GioHang_MaGH]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_SanPham_MaSP]
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapHang_NhapHang_MaNH] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NhapHang] ([MaNH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_ChiTietNhapHang_NhapHang_MaNH]
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapHang_SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_ChiTietNhapHang_SanPham_MaSP]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_DonHang_MaDH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_DonHang_MaDH]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_KhachHang_MaKH]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_SanPham_MaSP]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang_MaKH]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_PhuongThucThanhToan_MaPTTT] FOREIGN KEY([MaPTTT])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPTTT])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_PhuongThucThanhToan_MaPTTT]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang_MaKH]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_HangKhachHang_MaHang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangKhachHang] ([MaHang])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_HangKhachHang_MaHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TaiKhoan_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan_MaTK]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan_MaTK]
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_NhapHang_NhaCungCap_MaNCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NhapHang] CHECK CONSTRAINT [FK_NhapHang_NhaCungCap_MaNCC]
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_NhapHang_NhanVien_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NhapHang] CHECK CONSTRAINT [FK_NhapHang_NhanVien_MaNV]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP_MaLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP_MaLoai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap_MaNCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap_MaNCC]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ThuongHieu_MaTH] FOREIGN KEY([MaTH])
REFERENCES [dbo].[ThuongHieu] ([MaTH])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ThuongHieu_MaTH]
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamYeuThich_SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamYeuThich] CHECK CONSTRAINT [FK_SanPhamYeuThich_SanPham_MaSP]
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamYeuThich_TaiKhoan_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamYeuThich] CHECK CONSTRAINT [FK_SanPhamYeuThich_TaiKhoan_MaTK]
GO
ALTER TABLE [dbo].[sp_km]  WITH CHECK ADD  CONSTRAINT [FK_sp_km_KhuyenMai_MaKM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sp_km] CHECK CONSTRAINT [FK_sp_km_KhuyenMai_MaKM]
GO
ALTER TABLE [dbo].[sp_km]  WITH CHECK ADD  CONSTRAINT [FK_sp_km_SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sp_km] CHECK CONSTRAINT [FK_sp_km_SanPham_MaSP]
GO
USE [master]
GO
